.my-container {
  height: 17.5rem;
}

#img{
    width: 60%;
    border-radius: 50%;
}

.doc_card:hover,
.doc_card:focus {
  background-color:lightgray !important;
  /* color: white !important;*/
  transition: background-color 0.3s ease, color 1s ease; 
  cursor: pointer;
  svg {
    color: white !important;
    transition: color 0.3s ease;
  }
}

.doc_card {
  background-color: white !important;
  color: black !important;
  transition: background-color 0.3s ease, color 1s ease;
  cursor: pointer;
}


