.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, MediumSeaGreen, dodgerBlue);
  background-clip: text;
  color: transparent;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 2.5rem;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
