#docimg{
    padding: 2px;
}
#span{
    padding: 3px;
}
.detales{
    background-color: rgb(232, 230, 230);
    width: 50%;
border-radius: 0 20px 0 20px;
margin: 4%;
}
.paragrah{
    font-weight: 1000;
    color: blue;
}