* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(226, 230, 234);
}
.App-logo {
  min-height: 100vh;
  pointer-events: none;
}

/* ###############Important###############33 */

/* the background */
.prim-pg {
  background-color: mediumseagreen !important;
}
.main-bg-1 {
  background-image: linear-gradient(MediumSeaGreen, dodgerBlue) !important;
  color: rgb(255, 255, 255) !important;
}
.main-bg-2 {
  background-color: #1e90ff !important;
  color: rgb(255, 255, 255) !important;
}

/* primaryC */
.prim-color {
  color: mediumseagreen !important;
}

.sec-color {
  color: dodgerblue !important;
}

/* mainbtn1 */
.main-btn {
  background: mediumseagreen !important;
  color: white !important;
  border: none !important;
  transition: background-color 0.3s ease, color 1s ease;
}

.light-bg {
  background-color: rgb(179, 247, 190) !important;
}

/* mainbtn2 */
.sec-btn {
  background: dodgerblue !important;
  color: white !important;
  border: none !important;
  transition: background-color 0.3s ease, color 1s ease-in-out;
}
.main-btn:hover {
  background: linear-gradient(to right, #90d6b9, #14cc8e) !important;
  color: rgba(255, 255, 255, 0.801) !important;
}
.sec-btn:hover {
  background: linear-gradient(to right, #9fd4ec, #07a1e9) !important;
  color: rgba(255, 255, 255, 0.801) !important;
}

/* ############################################ */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pencil:hover{
  
  color: mediumseagreen;
  cursor: pointer;
  transform: scale(1.2);
}
.trash:hover{
  color: #dc3545;
  cursor: pointer;
  transform: scale(1.2);
}

.pagination .page-link {
  --bs-pagination-color: black !important; /* Set the color of the arrows to black */
  background-color: light !important;
  color: dodgerblue !important;
}

.pagination .page-link:hover {
  --bs-pagination-color: black !important; /* Set the color of the arrows to black */
  background-color: gray !important;
  color: dodgerblue !important;
}