
#maind{
    width: 85%;
    padding-left: 12%;
    margin-top: 4%;
}
#fb{
    padding-left: 3%;
}
#sb{
    padding-left: 5%;
}
#tb{
    padding-left: 3%;
}
#fb{
    padding-left: 5%;
}
#sb{
    padding-left: 8%;
}
#eb{
    padding-left: 2%;
}